
<h1 class="text-center my-3">Register</h1>
<div class="row">
  <div class="col-md-6 mx-auto">
    <form action="/auth/register" method="POST">
      {{!-- csurf  --}}
      <input type="hidden" name="_csrf" value="{{csrfToken}}" />
      <input 
        type="text" 
        name="username"
        class="form-control mb-2"
        placeholder="Username"

      >
      <input 
        type="text" 
        name="email"
        class="form-control mb-2"
        placeholder="Email"

      >
      <input 
        type="password" 
        name="password"
        class="form-control mb-2"
        placeholder="Password"

      >
      <input 
        type="password" 
        name="repassword"
        class="form-control mb-2"
        placeholder="Repeat Password"
        value="123123"
      >

      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </div>
</div>
